section#trade .card img.img-fluid.rounded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    margin-left: 6px;
  }
  
  section#trade p .fa {
    display: inline-block;
    width: 25px;
    color: #fff;
    height: 25px;
    text-align: center;
    background: #1bbc9c;
    line-height: 25px;
    border-radius: 2px;
    font-size: 13px;
  }
  
  section#trade .card .col-md-3 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  
  section#trade .col-md-8 .card:hover {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
      0 13px 24px -11px rgba(233, 30, 99, 0.6);
    transition: 0.5s all;
  }
  
  section#trade .modal-content .card {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 16px;
  }
  
  section#trade .modal-content .card .btn.btn-block.btn-info {
    font-size: 16px;
  }
  .card-body .listCard {
    list-style: none;
  }
  
  .listCard .itemCard {
    padding: 9px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .listCard .itemCard a {
    text-decoration: none;
  }