* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}


/* Menu Search */

.menu-search .row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #03A9F4;
    width: 100%;
}

.col-md-9.pull-left.search form {
    display: flex;
    justify-content: center;
}

.post-item a {
    text-decoration: none;
    color: black;
}

.search-location {
    margin: 0 20px;
}

.btn-search {
    margin-left: 20px;
}


/* End Menu Search */


/* Content */

.row.news {
    margin-top: 20px;
    margin-bottom: 30px;
}

.content__left {
    background-color: #fff;
    padding-top: 20px;
}


/* End Content */


/* Panigation */

ul.list__panigation {
    display: flex;
}

.page {
    height: 50px;
}

ul.list__panigation li {
    list-style: none;
    padding-left: 20px;
}

ul.list__panigation li a {
    text-decoration: none;
    color: black;
}

li.page.selected {
    width: 30px;
    height: 30px;
    background-color: gray;
}


/* End Panigation */