* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}


/* Header */

header#header {
    height: 150px;
    background-color: #f1f1f1;
}

header#header .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

header#header .logo-left img {
    height: 105px;
    width: 250px;
    margin: 15px;
}

.logo-right img {
    width: 100%;
}

ul.list__qc {
    display: flex;
    list-style: none;
}

ul.list__qc li {
    padding: 10px 5px;
}


/* End Header */


/* Menu Search */

.menu-search .row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #03A9F4;
}

.col-md-7.pull-left.search form {
    display: flex;
    justify-content: center;
}

.post-item a {
    text-decoration: none;
    color: black;
}


/* End Menu Search */


/* Type */

ul.list__type {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.type-ticket {
    height: 50px;
    background: black;
    width: 100%;
    margin-top: 50px;
}

li.item__type a {
    color: #fff;
    font-size: 1rem;
}

li.item__type {
    padding: 0px 70px;
}


/* End Type */

.insert-content {
    display: inline-block;
    height: 28px;
    margin-top: 5px;
    font-size: 18px;
    color: #183048;
    font-weight: 600;
}